<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" configfailurepolicy="continue" name="pCloudy Suite" parallel="tests">
  <test name="samsung">
  <parameter name="deviceName" value="SAMSUNG"/>
    <classes>
      <class name="com.pCloudy.testNG.Runner"/>
    </classes>
  </test> <!-- Test -->

  <test name="google">
  <parameter name="deviceName" value="GOOGLE"/>
    <classes>
      <class name="com.pCloudy.testNG.Runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
